
.freelance_wrapper{
    padding: 40px 0;
    display: flex;
    position: relative;
    overflow-x: hidden;
    
}
.freelace-left{
    flex: 0 0 50%;
    padding: 0 1.5rem;
}
.freelace-left .university_img{
    height: 40vh;
    width: 100%;
    padding-right: 5rem;
    object-fit: contain;
}
.university_content{
    text-align: left;

}
.university_content h3{
    font-family: 'ZonaPro-Bold';
    font-size: 34px;
}
.university_content .applicartion_title{
    font-family: 'ZonaPro-Regular';
    font-size: 1.4rem;
    line-height: 30px;
}

.university_content .lorem{
    font-family: 'ZonaPro-Regular';
    font-size: 1rem;
        line-height: 1.3rem;
        color: #000000d0;
}
.university_content .explore_wrapper{
    width: 100%;
    
}
.university_content .explore_btn{
    background-image: url('./../assests//Freelance//explore_university.svg');
        /* background-image: linear-gradient(to right, rgb(255, 157, 0),orange); */
        background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
}

.freelace-right{
    flex: 0 0 50%;
    padding: 0 1.5rem;

}    
.freelace-right .university_content{
    padding: 0 1.5rem;
}       

.curriculum{
    height: 50vh;
    width: 100%;
    /* padding-right: 11rem; */
        /* mask-position: left; */
        object-fit: cover;
}

.interview{
    height: 60vh;   
    width: 100%;
    padding-right: 5rem;
    object-fit: contain;
}
.statement {
    height: 50vh;
    width: 100%;
    /* padding-right: 5rem; */
    object-fit: contain;
}

.divider_line{
    position: absolute;
    width: 5px;
    height: 1280px;
    /* border: 2px solid; */
    background-color: #EA7D06;
    top: 0;
    left: 50%;
}

/* .progress{
    width: 100%;
    height: 10vh;
}
*/
.progress .inner_progress{
    position: absolute;
        width: 39%;
            height: 40px;
            top: 0px;
                left: 30.8%;
    }
    
    @media screen and (min-width:320px) and (max-width:480px) {
        .freelance_wrapper {
            flex-wrap: wrap;
        }
    
        .freelace-left {
            flex: 0 0 100%;
        }
    
        .freelace-right {
            flex: 0 0 100%;
        }
    
        .divider_line {
            height: 2500px;
            left: 3%;
        }
.freelace-left .university_img {
    padding-right: 0;
}

.interview {
    padding-right: 0;
}

.progress .inner_progress {
    height: 30px;
        left: -15%;
}
}