.herowrapper {
    background-image: url('./../assests/NewHero.jpeg');
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hero_content {
    text-align: left;
    font-family: 'ZonaPro-Bold';
    font-size: 40px;
}

.hero_content .dreams{
    text-shadow: 1px 1px 1px #000000;
}

.dreams .dream-f{
    font-family: 'ZonaPro-Regular';
    font-weight:bolder;

}

.hero_content .studycontent {
    font-size: 40px;
    background: -webkit-linear-gradient(#c4915b, #f1810a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.callbtn {
    /* background-image: linear-gradient(to right, #ea7c06c1, #f1810a);
     */
     background-image: url('./../assests/btn_background.svg');
     background-size: cover;
     background-repeat: no-repeat;
    color: #ffffff;
    font-size: 24px;
    padding: 6px 12px;
    /* border-radius: 10px; */
    font-style: normal;
    font-weight: 100 !important;
}

.guranteewrapper {
    font-size: 22px;
}
.our-student{
    font-family: 'ZonaPro-Regular';
}

.percent {
    background: -webkit-linear-gradient(#EA7D06, #f1810a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width:320px) and (max-width:480px) {
    .herowrapper{
        height: max-content;
    }

    
}